# Terraform
.terraform/
*.tfstate
*.tfstate.*
secrets.auto.tfvars
terraform.tfvars

# Ansible
ansible/group_vars/vault.yml
ansible/inventory.ini

# Logs and temporary files
prg.txt
*.log
*.retry
list-all.sh