# terraform/secrets.auto.tfvars.j2
yc_token         = "{{ vault_yc_token }}"
cloud_id         = "{{ vault_cloud_id }}"
folder_id        = "{{ vault_folder_id }}"
ssh_keys         = "{{ vault_ssh_keys }}"
datadog_api_key  = "{{ vault_datadog_api_key }}"